<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builtin</key>
	<dict>
		<key>lisppad audio</key>
		<string>(lisppad audio).md</string>
		<key>lisppad draw map</key>
		<string>(lisppad draw map).md</string>
		<key>lisppad location</key>
		<string>(lisppad location).md</string>
		<key>lisppad system ios</key>
		<string>(lisppad system).md</string>
		<key>lispkit archive zip</key>
		<string>(lispkit archive zip).md</string>
		<key>lispkit base</key>
		<string>(lispkit base).md</string>
		<key>lispkit bitset</key>
		<string>(lispkit bitset).md</string>
		<key>lispkit box</key>
		<string>(lispkit box).md</string>
		<key>lispkit core</key>
		<string>(lispkit core).md</string>
		<key>lispkit control</key>
		<string>(lispkit control).md</string>
		<key>lispkit system</key>
		<string>(lispkit system).md</string>
		<key>lispkit system os</key>
		<string>(lispkit system os).md</string>
		<key>lispkit math</key>
		<string>(lispkit math).md</string>
		<key>lispkit math util</key>
		<string>(lispkit math util).md</string>
		<key>lispkit math stats</key>
		<string>(lispkit math stats).md</string>
		<key>lispkit math matrix</key>
		<string>(lispkit math matrix).md</string>
		<key>lispkit graph</key>
		<string>(lispkit graph).md</string>
		<key>lispkit list</key>
		<string>(lispkit list).md</string>
		<key>lispkit hashtable</key>
		<string>(lispkit hashtable).md</string>
		<key>lispkit dynamic</key>
		<string>(lispkit dynamic).md</string>
		<key>lispkit type</key>
		<string>(lispkit type).md</string>
		<key>lispkit vector</key>
		<string>(lispkit vector).md</string>
		<key>lispkit gvector</key>
		<string>(lispkit gvector).md</string>
		<key>lispkit record</key>
		<string>(lispkit record).md</string>
		<key>lispkit bytevector</key>
		<string>(lispkit bytevector).md</string>
		<key>lispkit char</key>
		<string>(lispkit char).md</string>
		<key>lispkit char-set</key>
		<string>(lispkit char-set).md</string>
		<key>lispkit string</key>
		<string>(lispkit string).md</string>
		<key>lispkit regexp</key>
		<string>(lispkit regexp).md</string>
		<key>lispkit port</key>
		<string>(lispkit port).md</string>
		<key>lispkit date-time</key>
		<string>(lispkit date-time).md</string>
		<key>lispkit draw</key>
		<string>(lispkit draw).md</string>
		<key>lispkit draw turtle</key>
		<string>(lispkit draw turtle).md</string>
		<key>lispkit draw chart bar</key>
		<string>(lispkit draw chart bar).md</string>
		<key>lispkit datatype</key>
		<string>(lispkit datatype).md</string>
		<key>lispkit object</key>
		<string>(lispkit object).md</string>
		<key>lispkit enum</key>
		<string>(lispkit enum).md</string>
		<key>lispkit stream</key>
		<string>(lispkit stream).md</string>
		<key>lispkit iterate</key>
		<string>(lispkit iterate).md</string>
		<key>lispkit comparator</key>
		<string>(lispkit comparator).md</string>
		<key>lispkit set</key>
		<string>(lispkit set).md</string>
		<key>lispkit stack</key>
		<string>(lispkit stack).md</string>
		<key>lispkit styled-text</key>
		<string>(lispkit styled-text).md</string>
		<key>lispkit queue</key>
		<string>(lispkit queue).md</string>
		<key>lispkit heap</key>
		<string>(lispkit heap).md</string>
		<key>lispkit disjoint-set</key>
		<string>(lispkit disjoint-set).md</string>
		<key>lispkit combinator</key>
		<string>(lispkit combinator).md</string>
		<key>lispkit match</key>
		<string>(lispkit match).md</string>
		<key>lispkit sqlite</key>
		<string>(lispkit sqlite).md</string>
		<key>lispkit markdown</key>
		<string>(lispkit markdown).md</string>
		<key>lispkit csv</key>
		<string>(lispkit csv).md</string>
		<key>lispkit log</key>
		<string>(lispkit log).md</string>
		<key>lispkit test</key>
		<string>(lispkit test).md</string>
		<key>lispkit thread</key>
		<string>(lispkit thread).md</string>
		<key>lispkit thread channel</key>
		<string>(lispkit thread channel).md</string>
		<key>lispkit debug</key>
		<string>(lispkit debug).md</string>
		<key>lispkit prolog</key>
		<string>(lispkit prolog).md</string>
		<key>lispkit text-table</key>
		<string>(lispkit text-table).md</string>
	</dict>
	<key>web</key>
	<dict>
		<key>srfi 1</key>
		<string>srfi/srfi-1.html</string>
		<key>srfi 2</key>
		<string>srfi/srfi-2.html</string>
		<key>srfi 6</key>
		<string>srfi/srfi-6.html</string>
		<key>srfi 8</key>
		<string>srfi/srfi-8.html</string>
		<key>srfi 9</key>
		<string>srfi/srfi-9.html</string>
		<key>srfi 11</key>
		<string>srfi/srfi-11.html</string>
		<key>srfi 14</key>
		<string>srfi/srfi-14.html</string>
		<key>srfi 16</key>
		<string>srfi/srfi-16.html</string>
		<key>srfi 17</key>
		<string>srfi/srfi-17.html</string>
		<key>srfi 18</key>
		<string>srfi/srfi-18.html</string>
		<key>srfi 19</key>
		<string>srfi/srfi-19.html</string>
		<key>srfi 23</key>
		<string>srfi/srfi-23.html</string>
		<key>srfi 26</key>
		<string>srfi/srfi-26.html</string>
		<key>srfi 27</key>
		<string>srfi/srfi-27.html</string>
		<key>srfi 28</key>
		<string>srfi/srfi-28.html</string>
		<key>srfi 31</key>
		<string>srfi/srfi-31.html</string>
		<key>srfi 33</key>
		<string>srfi/srfi-33.html</string>
		<key>srfi 34</key>
		<string>srfi/srfi-34.html</string>
		<key>srfi 35</key>
		<string>srfi/srfi-35.html</string>
		<key>srfi 39</key>
		<string>srfi/srfi-39.html</string>
		<key>srfi 41</key>
		<string>srfi/srfi-41.html</string>
		<key>srfi 46</key>
		<string>srfi/srfi-46.html</string>
		<key>srfi 48</key>
		<string>srfi/srfi-48.html</string>
		<key>srfi 51</key>
		<string>srfi/srfi-51.html</string>
		<key>srfi 54</key>
		<string>srfi/srfi-54.html</string>
		<key>srfi 55</key>
		<string>srfi/srfi-55.html</string>
		<key>srfi 63</key>
		<string>srfi/srfi-63.html</string>
		<key>srfi 64</key>
		<string>srfi/srfi-64.html</string>
		<key>srfi 69</key>
		<string>srfi/srfi-69.html</string>
		<key>srfi 87</key>
		<string>srfi/srfi-87.html</string>
		<key>srfi 95</key>
		<string>srfi/srfi-95.html</string>
		<key>srfi 98</key>
		<string>srfi/srfi-98.html</string>
		<key>srfi 101</key>
		<string>srfi/srfi-101.html</string>
		<key>srfi 102</key>
		<string>srfi/srfi-102.html</string>
		<key>srfi 111</key>
		<string>srfi/srfi-111.html</string>
		<key>srfi 112</key>
		<string>srfi/srfi-112.html</string>
		<key>srfi 113</key>
		<string>srfi/srfi-113.html</string>
		<key>srfi 118</key>
		<string>srfi/srfi-118.html</string>
		<key>srfi 121</key>
		<string>srfi/srfi-121.html</string>
		<key>srfi 125</key>
		<string>srfi/srfi-125.html</string>
		<key>srfi 128</key>
		<string>srfi/srfi-128.html</string>
		<key>srfi 129</key>
		<string>srfi/srfi-129.html</string>
		<key>srfi 132</key>
		<string>srfi/srfi-132.html</string>
		<key>srfi 133</key>
		<string>srfi/srfi-133.html</string>
		<key>srfi 134</key>
		<string>srfi/srfi-134.html</string>
		<key>srfi 135</key>
		<string>srfi/srfi-135.html</string>
		<key>srfi 137</key>
		<string>srfi/srfi-137.html</string>
		<key>srfi 141</key>
		<string>srfi/srfi-141.html</string>
		<key>srfi 142</key>
		<string>srfi/srfi-142.html</string>
		<key>srfi 143</key>
		<string>srfi/srfi-143.html</string>
		<key>srfi 144</key>
		<string>srfi/srfi-144.html</string>
		<key>srfi 145</key>
		<string>srfi/srfi-145.html</string>
		<key>srfi 146</key>
		<string>srfi/srfi-146.html</string>
		<key>srfi 149</key>
		<string>srfi/srfi-149.html</string>
		<key>srfi 151</key>
		<string>srfi/srfi-151.html</string>
		<key>srfi 152</key>
		<string>srfi/srfi-152.html</string>
		<key>srfi 154</key>
		<string>srfi/srfi-154.html</string>
		<key>srfi 155</key>
		<string>srfi/srfi-155.html</string>
		<key>srfi 158</key>
		<string>srfi/srfi-158.html</string>
		<key>srfi 161</key>
		<string>srfi/srfi-161.html</string>
		<key>srfi 162</key>
		<string>srfi/srfi-162.html</string>
		<key>srfi 165</key>
		<string>srfi/srfi-165.html</string>
		<key>srfi 166</key>
		<string>srfi/srfi-166.html</string>
		<key>srfi 167</key>
		<string>srfi/srfi-167.html</string>
		<key>srfi 173</key>
		<string>srfi/srfi-173.html</string>
		<key>srfi 174</key>
		<string>srfi/srfi-174.html</string>
		<key>srfi 175</key>
		<string>srfi/srfi-175.html</string>
		<key>srfi 177</key>
		<string>srfi/srfi-177.html</string>
		<key>srfi 180</key>
		<string>srfi/srfi-180.html</string>
		<key>srfi 189</key>
		<string>srfi/srfi-189.html</string>
		<key>srfi 194</key>
		<string>srfi/srfi-194.html</string>
		<key>srfi 195</key>
		<string>srfi/srfi-195.html</string>
		<key>srfi 196</key>
		<string>srfi/srfi-196.html</string>
		<key>srfi 204</key>
		<string>srfi/srfi-204.html</string>
		<key>srfi 208</key>
		<string>srfi/srfi-208.html</string>
		<key>srfi 209</key>
		<string>srfi/srfi-209.html</string>
		<key>srfi 210</key>
		<string>srfi/srfi-210.html</string>
		<key>srfi 214</key>
		<string>srfi/srfi-214.html</string>
		<key>srfi 215</key>
		<string>srfi/srfi-215.html</string>
		<key>srfi 216</key>
		<string>srfi/srfi-216.html</string>
		<key>srfi 217</key>
		<string>srfi/srfi-217.html</string>
		<key>srfi 219</key>
		<string>srfi/srfi-219.html</string>
		<key>srfi 221</key>
		<string>srfi/srfi-221.html</string>
		<key>srfi 222</key>
		<string>srfi/srfi-222.html</string>
		<key>srfi 223</key>
		<string>srfi/srfi-223.html</string>
		<key>srfi 224</key>
		<string>srfi/srfi-224.html</string>
		<key>srfi 227</key>
		<string>srfi/srfi-227.html</string>
		<key>srfi 228</key>
		<string>srfi/srfi-228.html</string>
		<key>srfi 229</key>
		<string>srfi/srfi-229.html</string>
		<key>srfi 230</key>
		<string>srfi/srfi-230.html</string>
		<key>srfi 232</key>
		<string>srfi/srfi-232.html</string>
		<key>srfi 233</key>
		<string>srfi/srfi-233.html</string>
		<key>srfi 236</key>
		<string>srfi/srfi-236.html</string>
		<key>srfi sicp</key>
		<string>srfi/srfi-216.html</string>
		<key>scheme bitwise</key>
		<string>srfi/srfi-151.html</string>
		<key>scheme charset</key>
		<string>srfi/srfi-14.html</string>
		<key>scheme comparator</key>
		<string>srfi/srfi-128.html</string>
		<key>scheme fixnum</key>
		<string>srfi/srfi-143.html</string>
		<key>scheme flonum</key>
		<string>srfi/srfi-144.html</string>
		<key>scheme generator</key>
		<string>srfi/srfi-121.html</string>
		<key>scheme hash-table</key>
		<string>srfi/srfi-125.html</string>
		<key>scheme ideque</key>
		<string>srfi/srfi-134.html</string>
		<key>scheme list</key>
		<string>srfi/srfi-1.html</string>
		<key>scheme mapping</key>
		<string>srfi/srfi-146.html</string>
		<key>scheme rlist</key>
		<string>srfi/srfi-101.html</string>
		<key>scheme set</key>
		<string>srfi/srfi-113.html</string>
		<key>scheme sort</key>
		<string>srfi/srfi-132.html</string>
		<key>scheme stream</key>
		<string>srfi/srfi-41.html</string>
		<key>scheme text</key>
		<string>srfi/srfi-135.html</string>
		<key>scheme vector</key>
		<string>srfi/srfi-133.html</string>
	</dict>
</dict>
</plist>
